@page
@model Plancher_Expert.Pages.AproposcshtmlModel
@{
}
<!-- A propos section -->
<section class="contact_section  long_section">
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="/Images/about-img1.png" alt="..." /></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">Plancher Expert</h1>
            <p style="text-align: justify">
                Entreprise dédiée à l'excellence dans le domaine des revêtements de sol.
                Spécialisée dans la vente de planchers de bois, de revêtements flottants, de carrelages en céramique, de tapis commerciaux et de tapis de qualité supérieure, 
                elle s'est bâti une réputation solide en offrant des produits de haute qualité et un service exceptionnel.
            </p>
        </div>
    </div>
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7 text-left">
            <p style="text-align: justify">
                <br />
                Notre entreprise s'engage à fournir une vaste gamme de revêtements de sol répondant aux besoins variés de nos clients. Que ce soit pour créer une atmosphère chaleureuse avec des planchers de bois authentiques, offrir une résistance durable avec des carrelages en céramique ou garantir un espace professionnel avec nos tapis commerciaux de haute performance, Plancher Expert offre des solutions adaptées à chaque projet.<br />
                Nous mettons l'accent sur la qualité des matériaux proposés, en sélectionnant avec soin des produits qui allient esthétique, durabilité et fonctionnalité. Notre équipe expérimentée est là pour conseiller nos clients à chaque étape, depuis le choix du revêtement idéal jusqu'à l'installation professionnelle.<br />
                Chez Plancher Expert, nous croyons fermement en l'importance de créer des espaces qui reflètent le style et répondent aux besoins spécifiques de nos clients.
            </p>
        </div>
        <div class="col-lg-5 text-right" ><img class="img-fluid rounded mb-4 mb-lg-0" src="/Images/about-img2.png"/></div>
    </div>
</section>
<!-- End of a propos section -->
<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2023 - Plancher_Expert - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </div>
</footer>