@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<link rel="stylesheet" href="~/css/Style.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<section class="contact_section  long_section">
    <h1>
        Politique de confidentialité
    </h1>

    <p>
        Chez Plancher Expert, nous accordons une importance primordiale à la confidentialité de nos clients. Cette politique de confidentialité détaille comment nous collectons, utilisons, protégeons et divulguons les informations que vous partagez lorsque vous utilisez notre site web ou nos services.<br />
        <br />
        <strong>Collecte d'informations :</strong><br />
        Nous collectons des informations personnelles telles que votre nom, adresse, adresse e-mail et numéro de téléphone lorsque vous choisissez de les fournir volontairement en remplissant un formulaire sur notre site ou en nous contactant pour des services ou des demandes spécifiques.
        <br /><br />
        <strong>Utilisation des informations :</strong><br />
        Les informations que nous recueillons peuvent être utilisées pour répondre à vos demandes, traiter vos commandes, personnaliser votre expérience avec notre entreprise et vous fournir des informations pertinentes sur nos produits et services. Nous ne vendons, n'échangeons ou ne louons jamais vos informations personnelles à des tiers sans votre consentement explicite, sauf dans les cas requis par la loi.
        <br /><br />
        <strong>Protection des informations :</strong><br />
        Nous mettons en œuvre des mesures de sécurité pour protéger vos informations personnelles et assurer leur confidentialité. Cela inclut des protocoles de sécurité pour empêcher tout accès non autorisé, la divulgation ou la modification de vos données personnelles.
        <br /><br />
        <strong>Cookies :</strong><br />
        Notre site peut utiliser des cookies pour améliorer votre expérience en ligne. Ces cookies sont de petits fichiers transférés sur votre ordinateur pour stocker des informations sur vos préférences. Vous pouvez choisir d'accepter ou de refuser les cookies via les paramètres de votre navigateur.
        <br /><br />
        <strong>Liens vers des tiers :</strong><br />
        Notre site peut contenir des liens vers des sites tiers. Nous ne sommes pas responsables des pratiques de confidentialité ou du contenu de ces sites et vous encourageons à consulter leurs politiques de confidentialité respectives.
        <br /><br />
        <strong>Consentement :</strong><br />
        En utilisant notre site, vous consentez à notre politique de confidentialité.
        <br /><br />
        <strong>Mises à jour de la politique de confidentialité :</strong><br />
        Nous nous réservons le droit de mettre à jour cette politique de confidentialité à tout moment. Les changements seront publiés sur cette page.
        <br /><br />
        Si vous avez des questions concernant notre politique de confidentialité, n'hésitez pas à nous contacter..
    </p>
</section>
<p></p>
<section class="contact_section  long_section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-left">
                <div class="form_container">
                    <div class="heading_container">
                        <h2>
                            Contact Us
                        </h2>
                    </div>
                    <form action="">
                        <div>
                            <input type="text" placeholder="Your Name" />
                        </div>
                        <div>
                            <input type="text" placeholder="Phone Number" />
                        </div>
                        <div>
                            <input type="email" placeholder="Email" />
                        </div>
                        <div>
                            <input type="text" class="message-box" placeholder="Message" />
                        </div>
                        <div class="btn_box">
                            <button>
                                SEND
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6 text-right">
                <img class="card-img-top mb-5 mb-md-0" src="~/Images/logoPE.png" />
            </div>
        </div>
    </div>
</section>
